<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div id="root">
      <%- html %>
    </div>
      <script>
        window.__INITIAL_STATE__ = <%- initialState %>
      </script>
      <script src="/js/index.js" />
  </body>
</html>